<h1 class="center">Screenplays</h1>

<script> 
  $(document).ready(function(value){
    console.log("hi")
    console.log(value)
    $('.ui.dropdown') .dropdown({
      onAdd: function(value) {
        console.log(value)
        }
      });
  });
</script>
      
  <form id="test_form" action="/screenplays" data-remote="true" method="get">
    <select name="genres[]" id="genres" class="ui fluid search dropdown" multiple="">
      <option value="1">Action/Adventure</option>
      <option value="2">Anthology</option>
    </select>
 </form>

<script type="text/javascript">
  $(function(){
    $('#genres').dropdown({
      onAdd: function(value) {
        console.log(value)
        $("#test_form").submit()
        }
      }
    )
  })
</script>

<br>
<br>
<br>
<%= form_tag screenplays_path do %>
    <%= collection_select :screenplay, :genre_ids, Genre.all, :id, :name, :prompt => true %>
    <br>
    <br>
    <%= submit_tag "Filter" %>
  <% end %>
  <%= link_to "Reset filter", screenplays_path %> 


<h2>Films</h2>

<% @screenplays.each do |screenplay| %>
  <% if screenplay.category == "Film" %>
    <b><%= link_to screenplay.title, screenplay %></b><br>
    <%= "Runtime: #{screenplay.runtime} minutes" %><br>
    <%= "Description: #{screenplay.description}"%><br>
    <%= image_tag(screenplay.picture_url) %><br><br>
    <br>
  <% end %>
<% end %>

<h3>TV Shows</h3>
<% @screenplays.each do |screenplay| %>
  <% if screenplay.category == "TV Show" %>
    <b><%= link_to screenplay.title, screenplay %></b><br>
    <%= "Runtime: #{screenplay.runtime} minutes" %><br>
    <%= "Number of Seasons: #{screenplay.num_seasons}"%><br>
    <%= "Number of Episodes: #{screenplay.num_episodes}"%><br>
    <%= "Description: #{screenplay.description}"%><br>
    <%= image_tag(screenplay.picture_url) %><br><br>
    <br>
  <% end %>
<% end %>
<br>
<br>
<br>
<%= link_to "Back to Home Page", root_path %>