<h1><%= @screenplay.title %></h1>

<% if @screenplay.category == "Film" %>
    <%= "Runtime: #{@screenplay.runtime} minutes" %><br>
    <%= "Description: #{@screenplay.description}"%><br>
    <%= image_tag(@screenplay.picture_url) %>
    <br>
<% else %>
    <%= "Runtime: #{@screenplay.runtime} minutes" %><br>
    <%= "Number of Seasons: #{@screenplay.num_seasons}"%><br>
    <%= "Number of Episodes: #{@screenplay.num_episodes}"%><br>
    <%= "Description: #{@screenplay.description}"%><br>
    <%= image_tag(@screenplay.picture_url) %>
    <br>
<% end %>
<br>
<h2>Review <%= @screenplay.title %>:</h2>
<%= render partial: "reviews/form", locals: { review: @review } %>
<br>
<br>
<h2> <%=@screenplay.title %> Reviews:</h2><br>
<% @screenplay.reviews.each do |review| %>
    <h3><%= link_to review.title, review_path(review) %><br></h3>
    <%= review.description%><br>
    <text>Rating: <%= review.rating %> / 5.0</text>
    <br>
    <text>Likes: <%= review.likes.count %></text>
  <% end %>
<br>
<br>
<%= link_to "Back to All Screenplays", screenplays_path %><br>
<%= link_to "Back to Home Page", root_path %>