<br>
<br>

<div class="ui centered center link cards">
    <div class="card custom_card">
      <div class="ui image div_size_screenplay_index centered">
        <%= link_to image_tag(@screenplay.picture_url), @screenplay, :class => "screenplay_index_img_size" %>
      </div>
      <div class="content">
        <div class="header">
          <%= link_to @screenplay.title, @screenplay %>
          <br>
          <br>
            <h4 class="ui horizontal divider header">
              Description
            </h4>
            <p class="screenplay_index_desc_font"><%= @screenplay.description%></p>
            <br>
          <h4 class="ui horizontal divider header">
              Information
            </h4>
            <p class="screenplay_index_desc_font">Length: <%= @screenplay.runtime%> minutes</p>
            <p class="screenplay_index_desc_font"><%= @screenplay.seasons%></p>
            <p class="screenplay_index_desc_font"><%= @screenplay.episodes%></p>
        </div>
      </div>
       <h4 class="ui horizontal divider white">
              
            </h4>
      <div class="extra content">
        <div class="ui segment custom_segment">
          <div class="ui two column very relaxed grid">
            <div class="column">
              <strong><p>Genre:</p></strong><br><p><%= @screenplay.get_genre(@screenplay) %></p>
            </div>
            <div class="column">
              <strong><p>Category:</p></strong><br><p><%= @screenplay.category %></p>
            </div>
          </div>
          <div class="ui vertical divider">
            <text style="color: white">&</text>
          </div>
        </div>
      </div>
    </div>
</div>
<br>
<br>

  <div class="ui horizontal divider">
    <h1 style="color: white"><%=@screenplay.title %> Reviews</h1>
  </div>
<br>
<br>

<div class="ui centered link cards">
  <% @screenplay.reviews.each do |review| %>
    <a class="card custom_card" href="<%= review_path(review) %>">
      <div class="content">
        <div class="center header"><p><%= review.short_title... %></p></div>
        <div class="center meta"><p><%= review.get_screenplay %></p></div>
        <div class="center meta"><p><%= review.created_at_to_date %></p></div>
        <div class="center description">
         <p><%= review.short_desc %></p>
        </div>
      </div>
      <div class="extra content">
        <i class="thumbs up outline icon"></i>
        <p><%= review.likes.count %></p>
        <div class="ui right floated content">
          <% review.rating.to_i.times do %>
          <i class="star icon"></i>
        <% end %>
        </div>
      </div>
    </a>
  <% end %>
</div>


<div class="ui horizontal divider">
    <h2 style="color: white">Review <%= @screenplay.title %>:</h2>
  </div>
<br>
<%= render partial: "reviews/form", locals: { review: @review } %>