<br>
<br>

<div class="ui centered center link cards">
    <div class="card custom_card">
      <div class="ui image div_size_screenplay_index centered">
        <%= link_to image_tag(@screenplay.picture_url), @screenplay, :class => "screenplay_index_img_size" %>
      </div>
      <div class="content">
        <div class="header">
          <%= link_to @screenplay.title, @screenplay %>
          <br>
          <br>
            <h4 class="ui horizontal divider header">
              Description
            </h4>
            <p class="screenplay_index_desc_font"><%= @screenplay.description%></p>
            <br>
          <h4 class="ui horizontal divider header">
              Information
            </h4>
            <p class="screenplay_index_desc_font">Length: <%= @screenplay.runtime%> minutes</p>
            <p class="screenplay_index_desc_font"><%= @screenplay.seasons%></p>
            <p class="screenplay_index_desc_font"><%= @screenplay.episodes%></p>
        </div>
      </div>
       <h4 class="ui horizontal divider white">
              
            </h4>
      <div class="extra content">
        <div class="ui segment custom_segment">
          <div class="ui two column very relaxed grid">
            <div class="column">
              <strong><p>Genre:</p></strong><br><p><%= @screenplay.get_genre(@screenplay) %></p>
            </div>
            <div class="column">
              <strong><p>Category:</p></strong><br><p><%= @screenplay.category %></p>
            </div>
          </div>
          <div class="ui vertical divider">
            <text style="color: white">&</text>
          </div>
        </div>
      </div>
    </div>
</div>
<br>
<br>

  <div class="ui horizontal divider">
    <h1 style="color: white"><%=@screenplay.title %> Reviews</h1>
  </div>
<br>
<br>
<div class="ui centered grid">
  <div class="six wide column">
    <% @screenplay.reviews.each do |review| %>
      <div class="ui centered card custom_card">
        <div class="content">
          <div class="center header">
            <h1><%= review.short_title %></h1>
          </div>
          <div class="center meta">
            <p>Review by: <%= link_to review.user.name, user_path(review.user) %></p>
          </div>
          <div class="center meta">
          <p>Film / TV Show: <%= link_to review.screenplay.title, screenplay_path(review.screenplay) %></p><br>
          </div>
          <div class="center description">
            <p><%= review.description %></p><br>
          </div>
          <div class="center description">
            <% if review.rating == 1 %>
              <i class="star icon"></i>
            <% elsif review.rating == 2 %>
              <i class="star icon"></i>
              <i class="star icon"></i>
            <% elsif review.rating == 3 %>
              <i class="star icon"></i>
              <i class="star icon"></i>
              <i class="star icon"></i>
            <% elsif review.rating == 4 %>
              <i class="star icon"></i>
              <i class="star icon"></i>
              <i class="star icon"></i>
              <i class="star icon"></i>
            <% elsif review.rating == 5 %>
              <i class="star icon"></i>
              <i class="star icon"></i>
              <i class="star icon"></i>
              <i class="star icon"></i>
              <i class="star icon"></i>
            <% end %>
          </div>
          <div class="ui labeled button center" tabindex="0">
            <%= button_to "Like", like_path(review), method: :put, class: "ui red button center" %>
              <a class="ui basic red left pointing label center">
                <%= review.likes.count %>
              </a>
            <% if flash[:like_error] %>
            <div class="ui left pointing red basic label">
              <%= flash[:like_error] %>
            </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>
<br>
<br>
<div class="ui horizontal divider">
    <h2 style="color: white">Review <%= @screenplay.title %>:</h2>
  </div>
<br>
<%= render partial: "reviews/form", locals: { review: @review } %>