<h1>Edit your Profile</h1>

<% if @user.errors.any? %>
    <div>
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div class="ui inverted form">
<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <br>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>
  <br>
  <%= f.label :bio %>
  <%= f.text_area :bio %>
  <br>
  <br>
  <%= f.label :age %>
  <%= f.number_field :age %>
  <br>
  <br>
  <%= f.label :location, "Location ('city, state')" %>
  <%= f.text_field :location %>
  <br>
  <br>
  <div class="ui submit button">
  <%= f.submit %>
<% end %>
</div>

