<br>
<div class="ui horizontal divider">
  <h2 style="color: white">All Critics</h2>
</div>
<br>
<br>
<div class="ui centered link cards">
    <% @users.each do |user| %>
        <a class="card custom_card" href="<%= user_path(user) %>%">
            <div class="content">
                <div class="center header">
                    <p><%= "#{user.name} | @#{user.username}" %></p>
                </div>
                <div class="center description">
                    <p><%= "#{user.shorter_bio}..." %></p><br><br>
                    <% if user.location %>
                        <p><%= user.location %></p><br>
                        <p><i class="<%= user.location.downcase %> flag"></i></p>
                    <% end %>
                </div>
                
            </div>
            <div class="extra content">
                <i class="newspaper icon"></i>
                <p><%= user.reviews_count %> reviews</p>
            </div>
            <div class="extra content">
                <i class="thumbs up outline icon"></i>
                <p><%= user.review_likes.count %></p>
                <p class="right floated"><%= user.user_badge %></p>
            </div>
        </a>
    <% end %>
</div>