<h2 class="center">All Critics</h2>

<div class="ui centered link cards">
    <% @users.each do |user| %>
        <div class="card custom_card general_button_red_h">
            <div class="content">
                <div class="center header">
                    <%= link_to "#{user.name} | @#{user.username}", user %>
                </div>
                <div class="center description">
                    <p><%= "#{user.shorter_bio}..." %></p>
                </div>
            </div>
            <div class="extra content">
                <i class="newspaper icon"></i>
                <p><%= user.reviews_count %> reviews</p>
            </div>
            <div class="extra content">
                <i class="thumbs up outline icon"></i>
                <p><%= user.review_likes.count %></p>
                <p class="right floated"><%= user.user_badge %></p>
            </div>
        </div>
    <% end %>
</div>