<br>

<div class="ui grid centered card custom_card">
    <div class="content">
        <div class="center header">
            <p><%= @user.name %>'s Profile</p>
        </div>
        <div class="center header">
            <p><%= "@#{@user.username}" %></p>
        </div>
        <div class="center description">
            <% if @user.age %>
                <h4><%= @user.age %> years old</h4><br>
            <% end %>
            <% if @user.location %>
            <p><%= @user.location %></p><br>
            <p><i class="<%= @user.location.downcase %> flag"></i></p><br><br>
            <% end %>
            <p><%= @user.bio %></p>
        </div>
    </div>
    <div class="extra content">
    <div class="left floated">
        <i class="newspaper icon"></i>
        <p><%= @user.reviews_count %> reviews</p>
    </div>
    </div>
    <div class="extra content">
    <div class="left floated">
        <i class="thumbs up outline icon"></i>
        <p><%= @user.review_likes.count %></p>
    </div>
        <p class="right floated"><%= @user.user_badge %></p>
    </div>
    <% if current_user == @user %>
        <div class="ui bottom attached red button">
            <i class="add icon"></i>
            <%= link_to "Edit Profile", edit_user_path(@user) %>
        </div>
    <% end %>
</div>

<br>
<br>
<br>

<% if @user.reviews.length > 0 %>
<div class="ui horizontal divider">
  <% if current_user == @user %>
    <h1 style="color: white">Your Reviews</h1>
  <% else %>
    <h1 style="color: white"><%= @user.username%> Reviews</h1>
  <% end %>
</div>
<% end %>


<% if @user.reviews.length > 0 %>
    <div class="ui centered center link cards">
        <% @user.reviews.each do |review| %>
            <div class="card custom_card">
                <div class="ui image">
                    <%= link_to image_tag(review.screenplay.picture_url), review %>
                </div>
                <div class="content">
                    <div class="header">
                        <%= link_to review.title, review %>
                    </div>
                    <div class="description">
                        <%= link_to review.screenplay.title, screenplay_path(review.screenplay) %>
                    </div>
                </div>
                <div class="extra content">
                    <% review.rating.to_i.times do %>
                    <i class="star icon star_icon"></i>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
<% else %>
    <% if current_user == @user %>
        <div class="ui horizontal divider">
            <h1 style="color: white">Write a Review</h1>
        </div>
        <%= render partial: "form_review", locals: { review: @review } %>
    <% end %>
<% end %>



