<% if current_user == @user %>
    <h3><%= link_to "Edit my profile", edit_user_path %></h3>
<% end %>

<div class="user_profile_card">
    <h1><%= @user.name %>'s Profile</h1>
    <h2><%= "@#{@user.username}" %></h2>
    <% if @user.age %>
      <h3><%= @user.age %> years old</h3>
    <% end %>
    <h4><%= @user.location %></h4>
    <p><%= @user.bio %></p>
</div>

<h1>Reviews:</h1>

<% @user.reviews.each do |review| %>
    <div class="user_profile_review_card">
        <h4><%= link_to review.title, review_path(review) %></h4>
        <p style="font-size: 12px;"><%= review.screenplay.title %></p>
        <p><%= review.description %></p>
        <p>Likes: <%= review.likes.count %></p>
    </div>
<% end %>