<div class="ui centered link card">
    <div class="content">
        <div class="center header">
            <%= @user.name %>'s Profile
        </div>
        <div class="center header">
            <%= "@#{@user.username}" %>
        </div>
        <div class="center description">
            <% if @user.age %>
                <h4><%= @user.age %> years old</h4>
            <% end %>
            <h4><%= @user.location %></h4>
            <p><%= @user.bio %></p>
        </div>
    </div>
    <div class="extra content">
        <i class="newspaper icon"></i>
        <%= @user.reviews_count %> reviews
    </div>
    <div class="extra content">
        <i class="hand peace icon"></i>
        <%= @user.review_likes.count %> likes
        <span class="right floated"><%= @user.user_badge %></span>
    </div>
    <% if current_user == @user %>
        <div class="ui bottom attached red button">
            <i class="add icon"></i>
            <%= link_to "Edit Profile", edit_user_path(@user) %>
        </div>
    <% end %>
</div>

<h2 class="center">Reviews:</h1>

<% if @user.reviews.length > 0 %>
    <div class="ui centered center link cards">
        <% @user.reviews.each do |review| %>
            <div class="card">
                <div class="ui image">
                    <%= link_to image_tag(review.screenplay.picture_url), review %>
                </div>
                <div class="content">
                    <div class="header">
                        <%= link_to review.title, review %>
                    </div>
                    <div class="description">
                        <%= link_to review.screenplay.title, screenplay_path(review.screenplay) %>
                    </div>
                </div>
                <div class="extra content">
                    <% review.rating.to_i.times do %>
                    <i class="star icon"></i>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
<% else %>
  <div class="description">
    You haven't added any reviews yet. <%= link_to "Create a review", new_review_path%>
  </div>
<% end %>

<% if current_user == @user %>
    <button class="ui right floated button">
        <%= link_to "Delete Account", delete_account_path(@user) %>
    </button>
<% end %>

