<div class="ui horizontal divider">
    <h1 style="color: white">Your Reviews</h1>
</div>

<% if @user.reviews.length > 0 %>
  <div class="ui centered center link cards">
    <% @user.reviews.each do |review| %>
      <a class="ui card custom_card general_button_red_h" href="<%= review_path(review) %>">
        <div class="ui image">
          <%= image_tag(review.screenplay.picture_url) %>
        </div>
        <div class="content">
          <div class="header">
            <p><%= review.title %></p>
          </div>
          <div class="description">
            <p><%= review.screenplay.title %></p>
          </div>
        </div>
        <div class="extra content">
          <div class="ui left floated content">
            <i class="thumbs up outline icon"></i>
            <p><%= review.likes.count %></p>
          </div>
          <div class="ui right floated content">
            <% review.rating.to_i.times do %>
            <i class="star icon"></i>
            <% end %>
          </div>
        </div>
      </a>
    <% end %>
  </div>
<% else %>
<div class="ui centered grid"><br>
  <div class="ui compact red message">
    <div class="description">
    You haven't added any reviews yet. <%= link_to "Create a review", new_review_path%><br>
  </div>
  </div>
</div>
<% end %><br>

<% if @popular_review %>
  <div class="ui horizontal divider">
      <h1 style="color: white">Most Popular Review</h1>
  </div>
  <div class="ui card centered custom_card">
      <div class="center content">
        <div class="header"><%= link_to @popular_review.short_title..., @popular_review %></div>
        <div class="meta"><p><%= @popular_review.get_screenplay %></p></div>
        <div class="meta"><p><%= @popular_review.created_at_to_date %></p></div>
        <div class="description">
         <p><%= @popular_review.short_desc ... %></p>
        </div>
      </div>
      <div class="extra content">
        <i class="thumbs up outline icon"></i>
        <p><%= @popular_review.likes.count %></p>
        <div class="ui right floated content">
          <% @popular_review.rating.to_i.times do %>
          <i class="star icon"></i>
        <% end %>
        </div>
      </div>
    </div>
<% end %>

<div class="ui horizontal divider">
  <h1 style="color: white">Top-rated Films / TV shows today</h1>
</div>
<div class="ui centered center link cards">
  <% @top_three.each do |screenplay, av_rating| %>
    <div class="card custom_card">
      <div class="ui image">
        <%= link_to image_tag(screenplay.picture_url), screenplay %>
      </div>
      <div class="content">
        <div class="header">
          <%= link_to screenplay.title, screenplay %>
        </div>
      </div>
      <div class="extra content">
        <p>Average Rating: <%= av_rating %></p>
      </div>
    </div>
  <% end %>
</div>