<h2 class="center">Your reviews:</h2>

<% if @user.reviews.length > 0 %>
  <div class="ui centered center link cards">
    <% @user.reviews.each do |review| %>
      <div class="ui card custom_card">
        <div class="ui image">
          <%= link_to image_tag(review.screenplay.picture_url), review %>
        </div>
        <div class="content">
          <div class="header">
            <%= link_to review.title, review %>
          </div>
          <div class="description">
            <%= link_to review.screenplay.title, screenplay_path(review.screenplay) %>
          </div>
        </div>
        <div class="extra content">
        <% review.rating.to_i.times do %>
          <i class="star icon"></i>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="description">
    You haven't added any reviews yet. <%= link_to "Create a review", new_review_path%>
  </div>
<% end %>

<% if @popular_review %>
  <h2 class="center">Your most popular review:</h2>
  <div class="ui card centered custom_card">
      <div class="center content">
        <div class="header"><%= link_to @popular_review.short_title..., @popular_review %></div>
        <div class="meta"><p><%= @popular_review.get_screenplay %></p></div>
        <div class="meta"><p><%= @popular_review.created_at_to_date %></p></div>
        <div class="description">
         <p><%= @popular_review.short_desc ... %></p>
        </div>
      </div>
      <div class="extra content">
        <i class="thumbs up outline icon"></i>
        <p><%= @popular_review.likes.count %></p>
        <div class="ui right floated content">
          <% @popular_review.rating.to_i.times do %>
          <i class="star icon"></i>
        <% end %>
        </div>
      </div>
    </div>
<% end %>

<h2 class="center">Top-rated Films / TV shows today:</h2>

<div class="ui centered center link cards">
  <% @top_three.each do |screenplay, av_rating| %>
    <div class="card custom_card">
      <div class="ui image">
        <%= link_to image_tag(screenplay.picture_url), screenplay %>
      </div>
      <div class="content">
        <div class="header">
          <%= link_to screenplay.title, screenplay %>
        </div>
      </div>
      <div class="extra content">
        <p>Average Rating: <%= av_rating %></p>
      </div>
    </div>
  <% end %>
</div>