<% if review.errors.any? %>
    <div>
        <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
            <% review.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for review do |f| %>
    <%= f.label :screenplay_title, "Screenplay:" %>
    <%= f.text_field :screenplay_title, list: "screenplays_autocomplete", onfocus: "this.value=''", value: "#{review.get_screenplay}" %>
      <datalist id="screenplays_autocomplete">
        <% Screenplay.all.each do |screenplay| %>
          <option value="<%= screenplay.title %>"></option>
        <% end %>
      </datalist>
    <br>
    <br>
    <%= f.label :title, "Review title:" %>
    <%= f.text_area :title %>
    <br>
    <br>
    <%= f.label :description, "Review description:" %>
    <%= f.text_area :description %>
    <br>
    <br>
    <%= f.label :rating, "Review rating:" %>
    <%= f.select :rating, [1, 2, 3, 4, 5] %>
    <br>
    <br>
    <%= f.submit %>
<% end %>