<h2 class="center">All Reviews</h2>

<div class="ui centered link cards">
  <% @reviews.each do |review| %>
    <div class="ui card custom_card general_button_red_h">
      <div class="content">
        <div class="header"><%= link_to review.short_title..., review_path(review) %></div>
        <div class="meta"><p><%= review.get_screenplay %></p></div>
        <div class="meta"><p><%= review.created_at_to_date %></p></div>
        <div class="description">
         <p><%= review.short_desc %></p>
        </div>
      </div>
      <div class="extra content">
        <i class="thumbs up outline icon"></i>
        <p><%= review.likes.count %></p>
        <div class="ui right floated content">
          <% review.rating.to_i.times do %>
          <i class="star icon"></i>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
