<h1 class="center">Reviews</h1>


<div class="ui grid">
<div class="two wide row">
<% @reviews.each do |review| %>
<div class="ui card">
  <div class="content">
    <div class="header"><%= link_to review.title, review_path(review) %></div>
    <div class="meta"><%= review.get_screenplay %></div>
    <div class="meta"><%= review.created_at_to_date %></div>
    <div class="description">
      <%= review.short_desc ... %>
    </div>
  </div>
  <div class="extra content">
    <i class="thumbs up outline icon"></i>
    <%= review.likes.count %>
    <% if review.rating == 1 %>
      <i class="star icon"></i>
    <% elsif review.rating == 2 %>
      <i class="star icon"></i>
      <i class="star icon"></i>
    <% elsif review.rating == 3 %>
      <i class="star icon"></i>
      <i class="star icon"></i>
      <i class="star icon"></i>
    <% elsif review.rating == 4 %>
      <i class="star icon"></i>
      <i class="star icon"></i>
      <i class="star icon"></i>
      <i class="star icon"></i>
    <% elsif review.rating == 5 %>
      <i class="star icon"></i>
      <i class="star icon"></i>
      <i class="star icon"></i>
      <i class="star icon"></i>
      <i class="star icon"></i>
    <% end %>
  </div>
</div>
<% end %>
</div>
</div>
