<br>
<div class="ui horizontal divider">
  <h2 style="color: white">All Reviews</h2>
</div>
<br>
<br>
<div class="ui centered link cards">
  <% @reviews.each do |review| %>
    <a class="card custom_card" href="<%= review_path(review) %>">
      <div class="content">
        <div class="center header"><p><%= review.short_title... %></p></div>
        <div class="center meta"><p><%= review.get_screenplay %></p></div>
        <div class="center meta"><p><%= review.created_at_to_date %></p></div>
        <div class="center description">
         <p><%= review.short_desc %></p>
        </div>
      </div>
      <div class="extra content">
        <i class="thumbs up outline icon"></i>
        <p><%= review.likes.count %></p>
        <div class="ui right floated content">
          <% review.rating.to_i.times do %>
          <i class="star icon"></i>
        <% end %>
        </div>
      </div>
    </a>
  <% end %>
</div>
