<h1 class="center">Reviews</h1>

<% @reviews.each do |review| %>
  <h3><%= link_to review.title, review_path(review) %></h3>
  <p><%= review.created_at_to_date %></p>
  <p><%= review.description%></p>
  <p>Rating: <%= review.rating.to_i %> / 5</p>
  <p>Likes: <%= review.likes.count %></p>
<% end %>