<h2 class="center">All Reviews</h2>

<div class="ui centered link cards">
  <% @reviews.each do |review| %>
    <div class="ui card custom_card">
      <div class="content">
        <div class="header"><%= link_to review.short_title..., review_path(review) %></div>
        <div class="meta"><p><%= review.get_screenplay %></p></div>
        <div class="meta"><p><%= review.created_at_to_date %></p></div>
        <div class="description">
         <p><%= review.short_desc ... %></p>
        </div>
      </div>
      <div class="extra content">
        <i class="thumbs up outline icon"></i>
        <p><%= review.likes.count %></p>
        <div class="ui right floated content">
          <% if review.rating == 1 %>
            <i class="star icon"></i>
          <% elsif review.rating == 2 %>
            <i class="star icon"></i>
            <i class="star icon"></i>
          <% elsif review.rating == 3 %>
            <i class="star icon"></i>
            <i class="star icon"></i>
            <i class="star icon"></i>
         <% elsif review.rating == 4 %>
            <i class="star icon"></i>
            <i class="star icon"></i>
            <i class="star icon"></i>
            <i class="star icon"></i>
          <% elsif review.rating == 5 %>
            <i class="star icon"></i>
            <i class="star icon"></i>
            <i class="star icon"></i>
            <i class="star icon"></i>
            <i class="star icon"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
