<h1><%= @review.title %></h1>

<text>Review by: <%= @review.user.name %></text>
<br>
<text>Screenplay: <%= @review.screenplay.title %></text>
<br>
<p><%= @review.description %>
<br>
<br>
<text>Rating: <%= @review.rating %> Stars</text>
<br>
<br>
<% if current_user == @review.user %>
  <%= link_to "Edit review", edit_review_path(@review) %>
<% end %>