<!DOCTYPE html>
<html>
  <head>
    <title>DotWatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <%# <li><%= link_to "Screenplays", screenplays_path %></li>
      <%# <li><%= link_to "Reviews", reviews_path %></li>
      <%# <li><%= link_to "Profile", user_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>
