<!DOCTYPE html>
<html>
  <head>
    <title>DotWatch</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <% if logged_in? %>
          <div class="ui navbar inverted menu">
          <%= link_to "DotWatch", root_path, class: "active_item item" %>
          <%= link_to "Films / TV Shows", screenplays_path, class: "item" %>
          <%= link_to "Reviews", reviews_path, class: "item" %>
          <%= link_to "All Users", users_path, class: "item" %>
          <div class="right menu">
          <%= link_to "Write a Review", new_review_path, class: "item" %>
          <%= link_to "My Profile", user_path(session[:user_id]), class: "item" %>
          <%= link_to "Logout", logout_path, method: :delete, class: "item" %>
          </div>
        </div>    
        <% end %>
    <%= yield %>
    <%= link_to '<button type="button" class="new_post_btn"><i class="plus icon"></i></button>'.html_safe, new_review_path %>
  </body>
</html>