<!DOCTYPE html>
<html>
  <head>
    <title>DotWatch</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <ul>
        <% if logged_in? %>
          <div class="ui navbar menu">
            <li><%= link_to "DotWatch", root_path %></li>
            <li><%= link_to "Screenplays", screenplays_path %></li>
            <li><%= link_to "Reviews", reviews_path %></li>
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "Logout", logout_path, method: :delete %></li>
            <li><%= link_to "My Profile", user_path(session[:user_id]) %></li>
          </div>
        <% end %>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
