<!DOCTYPE html>
<html>
  <head>
    <title>DotWatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <ul>
        <% if logged_in? %>
          <li><%= link_to "DotWatch", root_path %></li>
          <li><%= link_to "Screenplays", screenplays_path %></li>
          <li><%= link_to "Reviews", reviews_path %></li>
          <li><%= link_to "Users", users_path %></li>
          <li style="float:right;"><%= link_to "Logout", logout_path, method: :delete %></li>
          <li style="float:right;"><%= link_to "My Profile", user_path(session[:user_id]) %></li>
        <% else %>
          <li><%= link_to "Sign up", signup_path %></li>
          <li><%= link_to "Log In", login_path%></li>
        <% end %>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
